.userAvatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin: 0;
}

.cardFooter {
  padding: 10px 14px;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.userAvatarImg {
  width: 28px;
  height: 28px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  position: relative;

  &::before {
    height: 28px;
    width: 28px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci11c2VyIiBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yMCAyMXYtMmE0IDQgMCAwIDAtNC00SDhhNCA0IDAgMCAwLTQgNHYyIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSI3IiByPSI0Ii8+PC9zdmc+);
    left: 0;
    top: 0px;
    position: absolute;
    content: '';
    z-index: 2;
    background-color: var(--color-text-light);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.card {
  border-radius: 6px;
  margin-bottom: 8px;
  min-height: 120px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--color-background);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardContent {
  padding: 14px;
  display: flex;
  gap: 12px;
}

.cardDescription {
  margin: 0;
  word-break: break-all;
}

.cardTitle {
  margin: 0;
  margin-bottom: 8px;
  word-break: break-all;

  & small {
    font-size: 10px;
  }
}

.userName {
  font-size: 14px;
}

.cardActionBtn {
  width: 28px;
  height: 28px;
  padding: 0;
  display: inline-flex;
  place-items: center;
  flex-shrink: 0;
  margin-left: auto;
  opacity: 0.9;
  background-color: var(--color-action);
}

.cardActionBtn img {
  width: 16px;
  height: 16px;
  margin: 0 auto;
}

.cardActionBtn:hover {
  opacity: 1;
}
