.modalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  place-content: center;
}

.modalContent {
  color: var(--color-text-light);
  width: 320px;
  margin: auto;
  padding: 20px;
  position: relative;
  background-color: var(--color-background);
  border-radius: 6px;
}

.modalCloseButton {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-text-light);
  padding: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
}

.submitBtn {
  background-color: var(--color-secondary);
  width: 100%;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 8px;
  flex: 1;
}

.cancelBtn {
  width: 100%;
}
